.click-graphic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 10px;
    cursor: pointer;
    box-sizing:border-box;
}

.click-graphic .info {
    color: #ffffff;
    padding: 4px;
}

.click-graphic .block-number {
    padding: 16px;
    font-size: 72px;
    color: #ffffff;
    font-weight: bold;
}

.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}