/* PAGE */

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 24px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}